body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

form {
  width: 300px;
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="text"] {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 5px;
  font-size: 18px;
  text-align: right;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="button"] {
  width: 50px;
  height: 50px;
  margin-right: 5px;
  margin-bottom: 5px;
  font-size: 18px;
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="button"]:hover {
  background-color: #ddd;
  cursor: pointer;
}